.container {
    background: #f8f8f8;
}

.product__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 60px 30px;
}

.breadcrumbs {
    margin: 20px 0;
    font-size: 14px;
}

.breadcrumbs__item {
    display: inline-block;
    margin: 10px;
}
.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs__item:not(:first-child)::before {
    content: "＞";
    margin-right: 7px;
    color: #aaa;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form__group {
    width: 60%;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form__group-title {
    margin-bottom: 10px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    width: 60%;
    margin: 0 auto;
}

.form__group input,
.form__group textarea {
    padding: 10px;
    height: 40px;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    background: #fff;

    appearance: none;
}

.form__group textarea {
    height: 180px;
    width: 800px;
}

.form__group input[type="file"] {
    border: none;
    background: #f8f8f8;
}

.form__input-checkbox {
    display: flex;
    gap: 30px;
}

.custom-checkbox {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    height: 20px;
    width: 20px;
    margin: 0;
    border: none;
}

.checkbox-circle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    border: 1px solid #8b7969;
    border-radius: 50%;
    background-color: #fff;
    pointer-events: none;
}

.custom-checkbox input[type="checkbox"]:checked~.checkbox-circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    background-color: #8b7969;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


.form__button {
    display: flex;
    justify-content: center;
}

.form__button-submit-back {
    width: 15%;
    height: 50px;
    border: 1px solid #e1dfde;
    border-radius: 5px;
    background: #e1dfde;
    cursor: pointer;
    appearance: none;
    margin-right: 30px;
    padding: 10px 15px;
}

.form__button-submit {
    width: 15%;
    height: 50px;
    cursor: pointer;
    background: #fca931;
    padding: 10px 15px;
    border: 1px solid #fca931;
    border-radius: 5px;
}

.form__row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
}

.form__image-column,
 .form__input-column {
    display: flex;
    flex-direction: column;
   
}

.form__group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form__image-column {
    width: 50%;
}

.form__input-column {
    width: 45%;
}

.form__image-preview {
    width: 300px;
    height: 300px;
    border: none;
    background: #f8f8f8;
    background-size: cover;
    background-position: center;
}