.container {
    background: #f8f8f8; 
}

.product__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 15px 20px;
}

.product__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__heading-title h2 {
    font-size: 24px;
    font-weight: bold;
}

.add-button-submit {    
    background: #fca931;
    padding: 15px 20px;
    border: 1px solid #fca931;
    border-radius: 3px;
}

.product__wrapper {
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.product-search__content {
    margin: 0 auto;
    padding: 15px 20px;
}

.search__panel-item {
    display: inline-block;
}

.search__panel-item [type="text"] {
    border-radius: 20px;
    padding: 5px 10px;
    max-width: 200px;
    width: 100%;
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
}
.search__panel-item [type="submit"] {
    border: 1px solid #f5c900;
    border-radius: 3px;
    background: #f5c900;
    padding: 5px 10px;
    max-width: 200px;
    width: 100%;
}

.search__panel-price p {
    font-weight: bold;
    font-size: 18px;
}

.search__panel-price select {
    max-width: 200px;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    padding: 5px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px 20px;
}

.product-list__card {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}

.product-list__card img {
    width: 100%;
    height: auto;
}

.product-list__card a {
    text-decoration: none;
}

.product-list__card-title {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.form__select--text {
    display: inline-block;
    width: 100%;
}

.form__select--text select {
    color: #8b7969;
    background-color: #fff;
}


.select-wrap {
    position: relative;
    display: inline-block;
    width: 40%;
}

.select-wrap option {
    color: #8b7969;
}

.select-wrap::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #8b7969;
    font-size: 12px;
}

.select-wrap select,
.select-wrap option {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #f8f6f6;
    color: #8b7969;
    background-color: #f8f6f6;
    box-sizing: border-box;
}